<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid d-flex align-items-center justify-content-center flex-column">
  <h1>hello world!
    <i>{{ title }} {{ sobrenome }}</i>
  </h1>
  <app-contador></app-contador>

  <div *ngIf="sobrenome == 'Soares'">meu sobre nome é {{ title }} {{ sobrenome }}</div>
  <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Todo List</h3>
        </div>
        <div class="card-body">
          <input class="form-control" #todo type="text" (keyup.enter)="addTodo(todo.value); todo.value = ''">
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of items;  let i = index;">
            <app-todo-item [data]="item"></app-todo-item>
            <a href="#" class="badge badge-danger" (click)="removeItem(this.i)">remove</a>
          </li>
        </ul>
      </div>
  </div>
</div>

